services:
    app:
        build:
            context: .
        image: nextjs-dev
        ports:
            - '3000:3000'
            - '5555:5555'
        environment:
            NODE_ENV: development
        deploy:
            resources:
                limits:
                    cpus: '4'
                    memory: 4g
        volumes:
            - ./package.json:/app/package.json
            - ./node_modules:/app/node_modules
        command:
            - /bin/sh
            - -c
            - |
                echo "Starting the app..."
                npx prisma generate
                npx prisma db push
                npm run dev
        develop:
            watch:
                - action: sync
                  path: ./src
                  target: /app/src
                  ignore:
                      - node_modules/
                - action: sync
                  path: ./
                  target: /app
                  ignore:
                      - node_modules/
                      - package.json

    postgres:
        image: postgres:15-alpine
        ports:
            - '5432:5432'
        environment:
            - POSTGRES_DB=rep_db
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=abc
            - POSTGRES_HOST_AUTH_METHOD=trust
        deploy:
            resources:
                limits:
                    cpus: '1'
                    memory: 1g
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
